**/.DS_Store
**/__pycache__
**/.venv
**/.git
**/.env
**/.gitignore
**/.dockerignore
**/Dockerfile
*.log
*.pid
*.pyc
*.pyo
*.pyd
/.Python
/.pytest_cache
/db.sqlite3
/instance
/scripts
/.vscode
/tmp
*instance
*migrations
**/*.session
**/*.session-journal
**/.idea
**/.coverage
**/htmlcov
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/.next
**/dist
**/build
